<ion-header>
  <script>
      $('.btn-group').on('click', '.btn', function() {
          $(this).addClass('active').siblings().removeClass('active');
      });
  </script>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{page}}</ion-title>
    <ion-row *ngIf="page=='pick-up'">
      <ion-button class="active btn" (click)="trip=false" >Round Trip</ion-button>
      <ion-button class="btn" (click)="trip=true">One Way</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-auto-complete  [dataProvider]="zoneService" [(ngModel)]="locality" (itemSelected)="gettingCoordinatesByLocality()"></ion-auto-complete>
    </ion-row>
    <ion-row class="map" id="map" style="height: 80vh;">
      <div *ngFor="let marker of markerss | async">
        <button (click)="flyTo(marker)">{{ marker.properties.message }}</button>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row *ngIf="page=='pick-up'">
    <ion-button [class.button-disabled]="!isSelected" expand="block" class="ion-no-margin btn-bottom" style="width: 100vw" (click)="sendDataToService()">Show vehicles</ion-button>
  </ion-row>
  <ion-row *ngIf="page=='drop'">
    <ion-button [class.button-disabled]="!isSelected" expand="block" class="ion-no-margin btn-bottom" style="width: 100vw" (click)="booking()">Get Booking Details</ion-button>
  </ion-row>
</ion-footer>
