<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<form fxLayout="column" fxLayoutAlign="center center" [formGroup]="zoneForm" (ngSubmit)="onSubmit()">

    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="form"
        fxLayoutAlign="center center">


            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Zone Locality</mat-label>
                <input matInput #input placeholder="Zone Locality" formControlName="locality" required (keyup.enter)="getLocation()"  (blur)="getLocation()">
                <mat-hint>
                    Press Enter after writing locality
                </mat-hint>
                <mat-error *ngIf="locality.invalid">
                                        {{getErrorZoneLocality()}}
                                    </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>

                <mat-label>Zone Name</mat-label>
                <input matInput #input placeholder="Zone Name" formControlName="name" required>

                <mat-error *ngIf="zone.invalid">

                                            {{getErrorZoneName()}}
                                        </mat-error>

            </mat-form-field>




            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Capacity</mat-label>
                <input matInput #input placeholder="Capacity" formControlName="capacity" required>
                <mat-error *ngIf="capacity.invalid">

                                                                {{getErrorCapacity()}}
                                                            </mat-error>
            </mat-form-field>

            <button mat-raised-button class="btn" [disabled]='!zoneForm.valid' color="primary">
                Submit
            </button>


    </div>




</form>
