.my-card {
    margin-bottom: 40px;
    margin-left: 450px;
    height: 300px;
    width: 50%;
}

.zoneName {
    font-weight: bold;
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    .my-card {
        margin-left: 30px;
        height: 300px;
        width: 85%;
    }
    .zoneName {
        font-size: 1.5em;
        font-weight: bold;
    }
    .add-button {
        padding-left: 250px;
        margin-top: -18%;
    }
    .icon {
        margin-left: 40%;
    }

    
}

@media only screen and (min-width: 600px) {
    .icon {
        margin-left: 80%;
        background-color:transparent;
        }   
        
        .mat-button-focus-overlay {
            background-color:transparent;
        }
    }