<h1 fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="15px" class="header">
    Users
</h1>
<!-- <div fxLayout="row" fxLayoutGap="20px" class="search" fxLayout.gt-xs="row">
    <mat-form-field fxFlex=20%>
        <input matInput [(ngModel)]="term" placeholder="Search">
    </mat-form-field>
</div> -->
<div fxLayout.xs="column" fxLayout.gt="row" fxLayout="row wrap" fxLayoutGap="10px" class="card">
    <app-user-card *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }" [users]="user" >
    </app-user-card>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


