<div fxLayout="column">
    <h1 class="header">
        Users
    </h1>
    <div *ngIf="displayCount === 0; else data" class="no-data" fxLayoutAlign="center center">
        <img src="assets/no-record-found.jpeg">
    </div>
    <ng-template #data>
     <div fxLayout="row" class="search">
        <mat-form-field fxFlex="20%">
            <input matInput [(ngModel)]="term" placeholder="Search">
        </mat-form-field>
    </div>
    <div fxLayout="column wrap">
        <div fxLayout.xs="column" fxLayout.lg="row wrap" fxLayoutGap="50px" class="card" fxLayoutAlign.sm="center center">
            <app-user-card *ngFor="let user of users | paginate: { itemsPerPage: 12, currentPage: p } | filter:term"
                [users]="user">
            </app-user-card>
        </div>
        <pagination-controls (pageChange)="p = $event" fxLayoutAlign="center center"></pagination-controls>
        </div>
        </ng-template>
    </div>





