<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>PAYMENT DETAILS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-list lines="none">
      <ion-item class="heading">
        Fare Break-up
      </ion-item>
      <ion-row>
        <ion-item>
          <ion-label class="DistTime">Distance</ion-label>{{ rides?.distance }} Km
        </ion-item>
        <ion-item>
          <ion-label class="DistTime">Time</ion-label> {{ rides?.duration }} mins
        </ion-item>
      </ion-row>
      <ion-item class="baseFare">
        <ion-label>
          Base Fare </ion-label> Rs{{ rides?.paymentDetail?.rideAmount }}
      </ion-item>
      <ion-item>
        <ion-label class="belowBaseFare">Minimum Fare Applied</ion-label>
      </ion-item>
      <div *ngIf="appliedPromoCode || hideMe">
        <ion-item>
          <ion-label>Reward Points Discount </ion-label> - Rs.{{ rides?.promoCode?.discountPercent }}
        </ion-item>
      </div>
        <ion-item>
          <ion-label> Fuel Refill Amount </ion-label> - Rs. {{ rides?.paymentDetail?.fuelRefillAmount }}
        </ion-item>
        <div *ngIf="extraChargeStatus || hideMe">
          <ion-item>
            <ion-label>Total Extra Charges </ion-label> + Rs. {{ rides?.paymentDetail?.totalExtraCharges }}
          </ion-item>
          </div >
        <ion-item>
          <ion-label>Total Amount </ion-label>  Rs. {{ rides?.paymentDetail?.totalAmount }}
        </ion-item>
      <ion-item>
        <ion-label>Paid Amount </ion-label>  Rs. {{ rides?.paymentDetail?.totalAmount }}
      </ion-item>
      </ion-list>
      
      <div *ngIf="rideStatusUnPaid || hideMe">
        <ion-button expand="full" color="primary" (click)="payWithRazor()">Pay</ion-button>
      </div> 
      <div *ngIf="rideStatusPaid || hideMe">
        <ion-text class="PaidForRide">You have Already Paid For This Ride</ion-text>
      </div>  
      
  </ion-card>
</ion-content>