<div class="add">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
          <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar>



    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="fuelForm" (ngSubmit)="onSubmit()">
        <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="form">

            <mat-form-field appearance="outline" fxFlex>
                <mat-label class="font-style">Name</mat-label>
                <input matInput #input placeholder="Name" formControlName="name" required class="font-style" autocomplete="off">

                <mat-error *ngIf="rName.invalid" class="font-style">

                  {{getErrorName()}}
              </mat-error>
            </mat-form-field>



            <mat-form-field appearance="outline" fxFlex>
                <mat-label class="font-style">Cost</mat-label>
                <input matInput #input placeholder=" Fuel Cost" formControlName="fuelCost" required class="font-style" autocomplete="off">

                <mat-error *ngIf="rCost.invalid" class="font-style">

                  {{getErrorCost()}}
              </mat-error>

            </mat-form-field>







            <button mat-raised-button class="btn font-style"  [disabled]='!fuelForm.valid'  color="primary">
    Submit
  </button>


        </div>

    </form>

</div>
