<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <img src="{{type.vehicle.vehicleType.url}}" />
      </ion-col>
      <ion-col size="8">
        <ion-card-content>
          <ion-card-title>{{ type.vehicle.vehicleType.name}}</ion-card-title>
          <ion-card-subtitle>{{ type.vehicle.vehicleType.costPerKm | currency: "INR" }}/Km +
            {{ type.vehicle.vehicleType.costPerMin | currency : "INR" }}/Mints</ion-card-subtitle>
          <ion-card-subtitle>Available: {{ type.count }}</ion-card-subtitle>
          <ion-button color="tertiary" slot="end" (click)="selectingBike(type.vehicle)">Select</ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
