<mat-toolbar>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-toolbar>

    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="zoneForm" (ngSubmit)="onSubmit()">

            <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="form"
                fxLayoutAlign="center center">
                
                        <mat-form-field appearance="outline" fxFlex>
                                <mat-label class="font-style">Zone Capacity</mat-label>
                                <input matInput maxlength="6" #input placeholder="Zone Capacity" formControlName="capacity" [(ngModel)]="cap" required
                                class="font-style">
                                <mat-error *ngIf="capacity.invalid" class="font-style">
                                    
                                    {{getErrorCapacity()}}
                                </mat-error>
                            </mat-form-field>

                     <button mat-raised-button class="btn font-style" [disabled]='!zoneForm.valid' color="primary">
                                Submit
                            </button>
                    
                        </div>
                    </form>