<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
  <mat-icon>clear</mat-icon>
</button>
</mat-toolbar>

<form fxLayout="column" fxLayoutAlign="center center" [formGroup]="fuelForm" (ngSubmit)="onSubmit()">

    <div fxFlex=50% fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="form" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="col">

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Cost</mat-label>
                <input matInput #input placeholder="Fuel Cost" formControlName="costFuel" [(ngModel)]="costFuel" required>

            </mat-form-field>
        </div>
    </div>


    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <button mat-raised-button class="btn" [disabled]='!vehicleForm.valid' color="primary">
                      Submit
                  </button>

    </div>
</form>
