<div class="add">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-toolbar>



    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
        <h2 fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="15px" fxLayoutAlign="center center">Add New Vehicle</h2>

        <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="form">

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Registration No.</mat-label>
                <input matInput #input placeholder="Registration No" formControlName="registrationNo" required>
                <mat-error *ngIf="rNum.invalid">

                    {{getErrorRegistrationNo()}}
                </mat-error>
            </mat-form-field>




            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Vehicle Type</mat-label>
                <mat-select formControlName="vehicleType">
                    <mat-option *ngFor="let vehicleType of Vehicletypes" [value]="vehicleType">
                        {{vehicleType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>




            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Insurance No.</mat-label>
                <input matInput #input placeholder="Insurance No." formControlName="insuranceNo" required>

                <mat-error *ngIf="RinsuranceNo.invalid">

                    {{getErrorInsuranceNo()}}
                </mat-error>

            </mat-form-field>


            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Chassis Number.</mat-label>
                <input matInput #input placeholder="Chassis No." formControlName="chassisNumber" required>

                <mat-error *ngIf="RchassisNumber.invalid">

                    {{getErrorChassisNo()}}
                </mat-error>

            </mat-form-field>

            <mat-label>Vehicle purchase date</mat-label>
            <mat-form-field>
                <input matInput [matDatepicker]="purchasedDate" formControlName="purchasedDate" [max]="todaydate" placeholder="Vehicle Purchased Date" #input>
                <mat-datepicker-toggle matSuffix [for]="purchasedDate"></mat-datepicker-toggle>
                <mat-datepicker #purchasedDate></mat-datepicker>
            </mat-form-field>



            <!-- <mat-form-field appearance="outline" fxFlex>
        <input matInput #input placeholder="Placeholder" formControlName="vehiclePurchased" required>
    </mat-form-field> -->


            <button mat-raised-button  [disabled]='!vehicleForm.valid' class="btn" color="primary">
      Submit
    </button>


        </div>

    </form>

</div>
