<ion-header>
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <ion-menu-button></ion-menu-button>
      <img src="./assets/icon/images.png">
    </ion-thumbnail>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="campaigns">
  <ion-card *ngFor="let campaign of campaigns">
    <ion-card-content>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src = "./assets/icon/hello.png">
        </ion-thumbnail>
        <ion-label>
          <h3>PromoCode:{{campaign.promocode}}</h3>
        </ion-label>
        <ion-button (click)="sendCampaign(campaign)">Apply Code </ion-button>
      </ion-item>
      <ion-item>
        <p style="text-align: center">{{campaign.name}}.</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
