<ion-header>
  <div class = "example">
    <ion-toolbar color = "primary">
      <ion-buttons slot="start">
        <ion-button (click)="goShowPayment()">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Payment</ion-title>
    </ion-toolbar>
  </div>
</ion-header>
<ion-grid style="height: 100%">
  <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-card>
      <ion-list>
        <ion-card-content>
          <form [formGroup]="addPayment" (ngSubmit)="addForm(addPayment.value)">
            <ion-item>
              <ion-label position="floating" style="color: black"> Payment Provider</ion-label>
              <ion-select placeholder="Select One" formControlName="paymentProvider">
                <ion-select-option value="Paytm" >Paytm</ion-select-option>
                <ion-select-option value="PhonePe">PhonePe</ion-select-option>
                <ion-select-option value="Google Pay">Google Pay</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating" style="color: black"> Payment Method Number </ion-label>
              <ion-input type = "text" formControlName="paymentMethodNumber"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" style="color: black"> Payment Type </ion-label>
              <ion-select placeholder="Select One" formControlName="paymentType">
                <ion-select-option value="UPI" >UPI</ion-select-option>
                <ion-select-option value="Wallet">Wallet</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button expand="small" size="default" shape="round" color="primary" type = "submit" [disabled]="!addPayment.valid">Submit</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-card-content>
      </ion-list>
    </ion-card>
  </ion-row>
</ion-grid>





