.example{
  background-color: blue;
}

ion-row {
  text-align: center;
}

.example2{
  background-color: blue;
}

ion-card{
  display: flex;
  flex-direction: column;
  width: 100%;
}

ion-card-content {
  margin-left: -2%;
}
