<div fxLayoutAlign="row" fxLayoutGap="50px" fxLayoutAlign="center center">
    <mat-card class="card-dashboard">
        <mat-card-title class="font-style">Zones</mat-card-title>
        <mat-card-content class="font-style content">Total Count: {{zoneCount}}</mat-card-content>
    </mat-card>

    <mat-card class="card-dashboard">
        <mat-card-title class="font-style">Vehicles</mat-card-title>
        <mat-card-content class="font-style content">Total Count: {{vehicleCount}}</mat-card-content>
    </mat-card>

    <mat-card class="card-dashboard">
        <mat-card-title class="font-style">Vehicle Types</mat-card-title>
        <mat-card-content class="font-style content">Total Count: {{typeCount}}</mat-card-content>
    </mat-card>

    <mat-card class="card-dashboard">
        <mat-card-title class="font-style">Users</mat-card-title>
        <mat-card-content class="font-style content">Total Count: {{userCount}}</mat-card-content>
    </mat-card>
</div>