<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bike List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list class="ion-wrap" >
  <ion-item *ngFor="let type of typeList" lines="none">
    <app-bike [type]="type" [trip]="trip" (selectedTypes)="onVehicleSelected(type)"></app-bike>
  </ion-item>
</ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite()">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

