.login {
    padding-top: 2%;
    padding-bottom: 8%;
    font-size: 1.5em;
}

.login-heading {
    padding-top: 2%;
}


@media only screen and (max-width: 600px) {
 
    .login {
        padding-bottom: 25%;
    }
}