<h1 fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="15px" fxLayoutAlign="center center">
    Login
</h1>
<section fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center" fxLayout.gt-xs="row" class="login">
    <mat-card fxFlex=25%>
        <img mat-card-image
            src="assets/login.jpg" alt="Photo of a Shiba Inu" height="350px">
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                    <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput [(ngModel)]="username" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="password" type="password" required>
                    </mat-form-field>
                    <mat-card-actions>
                        <button mat-raised-button (click)="login()" color="primary">
                            Submit
                        </button>
                    </mat-card-actions>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</section>