<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class = "about">
        <h2><strong>UMove</strong></h2>
        <p style="text-align: justify">At Umove, we make transportation simpler. We are providing transportation solutions in the form of self drive rental
            vehicles.
        </p>
        <p style="text-align: justify">Our users experience a convenient and easy ride and keep coming back ! We hope you will give us a spin too.</p>
    </div>
</ion-content>
