<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="page!=='pick-up'">Select Drop Zone</ion-title>
    <ion-row *ngIf="page==='pick-up' && !trip">
      <ion-col size="6">
        <ion-button shape="round" expand="block" fill="solid" (click)="trip=false" >Round Trip</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button shape="round" expand="block" fill="outline" (click)="trip=true">One Way</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="page==='pick-up' && trip">
      <ion-col size="6">
        <ion-button shape="round" expand="block" fill="outline" (click)="trip=false" >Rounded Trip</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button shape="round" expand="block" fill="solid" (click)="trip=true">One Way</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="{'loader': !isLoaded}" *ngIf="!isLoaded">
  <ion-grid style="height: 100%">
    <ion-row style="height: 100%;">
      <ion-img src="assets/icon/loader.svg" style="margin: 0 auto;" ></ion-img>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content>
  <!--<app-map [containerId]="containerId"  (onSelected)="getSelected($event);" ></app-map>-->
  <ion-grid style="height: 100%;">
    <ion-row>
      <ion-auto-complete style="width: 100%"  [dataProvider]="zoneService" (itemSelected)="gettingCoordinatesByLocality($event)"></ion-auto-complete>
    </ion-row>
    <ion-row  class="map" id="pickup" style="height: 100%;" ></ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="isLoaded">
  <ion-row >
    <ion-button [class.button-disabled]="selectedZone===undefined" expand="block" class="ion-no-margin btn-bottom" style="width: 100vw" (click)="showVehicleList()">Show vehicles</ion-button>
  </ion-row>

</ion-footer>
