.vehicles {
    margin-left: 240px;
    padding-bottom: 2%;
    font-weight: bold;
}

mat-icon {
    font-size: 50px;
}

@media only screen and (max-width: 600px) {

    .vehicles {
        margin-left: 40px;
    }
}
