.vehicles {
    margin-left: 240px;
    padding-bottom: 2%;
    font-weight: bold;
}

mat-list {
    background-color: white;
}

.vehicle-list {
    padding-left: 450px;
    padding-bottom: 2%;
}

.center-list {
    padding-bottom: 2%;
    padding-top: 2%;
    width: 66%;
}

.icon-size {
    transform: scale(2);
}

.rNo {
    font-size: 1.5em;
    padding-left: 38%;
}

.type {
    font-size: 1.5em;
    padding-left: 5%;
}

.space {
    padding-left: 130px;
}

@media only screen and (max-width: 600px) {

    .vehicles {
        margin-left: 40px;
    }

    .vehicle-list {
        padding-left: 20px;
        padding-bottom: 2%;
    }
    
    .center-list {
        padding-bottom: 2%;
        padding-top: 2%;
        width: 95%;
    }
    
    .space {
        padding-left: 0px;
    }
    
    .rNo {
        font-size: 1.5em;
        padding-left: 0%;
    }
    
    .type {
        font-size: 1.5em;
        padding-left: 5%;
    }
}

.error-handling {
    padding-bottom: 5%;
}
