mat-toolbar {
    background-color: white;
}

.controles-container{
    width: 100%;
    padding: 5%;    
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.controles-container > * {
    width: 100%;
    }

 
.btn-dialog-close{
        width: 45px;
        min-width: 0px !important;
        height: 40px;
        padding: 0px !important;
      }

      .button {
        padding-bottom: 21.5px;
    }
    
.btn {
        width: 16em; height: 60px;
      
       }
    
.col {
        width: 80%;
      }
