  .vehicleImage{
    border: 1px solid primary;
    border-radius: 50%;
    box-shadow: 0 0 2px #000;
    margin-right: 10px;
    margin-left: 10px;
    height: 100%;
    width: 100%;
  }
  .outVehicleImage{
    float: left;
    height: 50px;
    margin-top: 10px; 
    margin-left: 10px; 
    margin-right: 10px;
    width: 60px;
  }
  .datecol{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .daterow{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .datepay {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .datepaylabel{
    font-size: 0.9rem;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .datepaylabelamount{
    font-size: 0.9rem;
    font-weight: bold;  
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .zone{
    color: #A9A9A9;
  }
  // ion-card ion-grid ion-card-subtitle {
  //   text-align: start;
  //   padding: 0px;
  //   margin: 0px;
  //   font-family: 'Lato-Light' !important;
  // }

  // ion-card ion-grid ion-card-subtitle ion-text{
  //   background: white;
  //   font-family: 'Lato-Light' !important;
  //   padding: 0px;
  //   font-size: 0.8rem;
  // }
  
