<mat-toolbar>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form fxLayout="column" fxLayoutAlign="center center" [formGroup]="userForm" (ngSubmit)="onSubmit()">
<h2>Enter Supervisor Details</h2>
  <div fxFlex=50% fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="form"
    fxLayoutAlign="center center">
    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="col">

      <mat-form-field appearance="outline" fxFlex>
        <mat-label class="font-style content">Supervisor Name</mat-label>
        <input matInput #input placeholder="Supervisor Name" formControlName="name" class="font-style content" required>
      </mat-form-field>

    </div>
    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="col">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label class="font-style content">Email-Id</mat-label>
        <input matInput #input placeholder="Email-Id" formControlName="email" class="font-style content" required>
      </mat-form-field>
      </div>
  </div>
  <mat-form-field appearance="outline" style="padding-right: 35%;">

    <mat-label class="font-style content">Mobile Number</mat-label>
    <input maxlength="10" matInput #input placeholder="Mobile Number" formControlName="mobileNumber" class="font-style content" required>
  </mat-form-field>
  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <button mat-raised-button class="btn" [disabled]='!userForm.valid' color="primary">
      Submit
    </button>
  </div>
</form>
