<mat-card class="my-card" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxLayout="column" fxLayoutGap="20px" (click)="ok()">
  <mat-card-content fxLayoutAlign="end" [ngStyle]="{'color':getColor(documentStatus)}" >{{documentStatus}}</mat-card-content>
  <mat-card-title fxLayoutAlign="center center" class="userName">{{dLicenceNumber}}</mat-card-title>
  <mat-card-content fxLayoutAlign="center center">{{expiryDate}}</mat-card-content>
  <mat-card-content fxLayoutAlign="center center">{{image}}</mat-card-content>
</mat-card>
