img {
    display: block;
    max-width: 100%;
    height: auto; 
}
.kycstatus
{
    flex-direction: row;

}
.approve{
    background-color: green;
    color: white;
}
.reject{
    background-color: red;
    color:white;
}