<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ride End</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Checkboxes in a List -->
  <ion-list>
    <ion-item *ngFor="let charge of extraCharges">
      <ion-checkbox slot="start" (ionChange)="itemSelected(charge, $event)"></ion-checkbox>
      <ion-label>{{ charge['chargedFor'] }}</ion-label>
      <ion-label slot="end">{{ charge['amount'] | currency:'INR' }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="submitExtraCharges()" style="height: 56px" class="btn-bottom">Apply Charges & End Ride</ion-button>

</ion-content>
