<div fxLayout.gt-sm="row" fxLayout.sm="column" fxLayoutGap="10%"> 
        <div fxLayout="column" fxLayout.sm="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px">
        <h1 fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="15px" class="zoneName">
                {{name}}
                
        </h1>
        </div>

<div fxLayout="column" fxLayout.sm="column" fxLayoutGap.lt-md="0px">
        <mat-icon class="graph">
                assessment
        </mat-icon>
</div>

<div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">
        <mat-form-field appearance="outline" fxFlex class="status">
                <mat-label>Zone Status</mat-label>
                <mat-select [(ngModel)]="status" (ngModelChange)="onChange($event)">
                    <mat-option *ngFor="let z of zoneStatus" [value]="z.value" [ngStyle]="{'color':getColor(z.viewValue)}">
                        {{z.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
</div> 
</div>

<div fxLayout="column">
<mat-card class="zone" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxLayout="column" fxLayoutGap="20px">
        <mat-card-title fxLayoutAlign="start">{{creationTime | date:"dd LLLL yyyy"}}</mat-card-title>
        <br><br>   
    <div fxFlex=50% fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="20%" fxLayoutGap.lt-md="0px"
        class="form" fxLayoutAlign="center center">    
    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px" class="col">
            <mat-card-title fxLayoutAlign="center center">City: {{city}}</mat-card-title> 
            <mat-card-title fxLayoutAlign="center center">Country: {{country}}</mat-card-title>
            <mat-card-title fxLayoutAlign="center center">Locality: {{locality}}</mat-card-title> 
               
    </div>  
    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px" class="col">
            <mat-card-title fxLayoutAlign="center center">State: {{state}}</mat-card-title> 
            <mat-card-title fxLayoutAlign="center center">Pincode: {{pincode}}</mat-card-title>
                  
            <mat-card-title fxLayoutAlign="center center">Capacity: {{capacity}}  
                    <span>
                        <i class="material-icons iconCapacity" (click)="update()" >
                            create
                        </i>
                    </span> 
               
            </mat-card-title> 
    </div> 
    </div>  
      
</mat-card>

<app-supervisor-details></app-supervisor-details>
<app-vehicle-details></app-vehicle-details>
</div>