<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10%" fxLayoutGap.lt-md="0px">
    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px">
        <h1 fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="15px" class="vehicleName">
            {{registrationNo}}

        </h1>
    </div>

    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">
        <mat-form-field appearance="outline" fxFlex class="status">
            <mat-label>Vehicle Status</mat-label>
            <mat-select [(ngModel)]="status1" (ngModelChange)="onChange($event)">
                <mat-option *ngFor="let z of vehicleStatus" [value]="z.value">
                    {{z.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<!--  -->

<mat-card class="my-card" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxLayout="column" fxLayoutGap="20px">
    <mat-card-title fxLayoutAlign="start">{{vehiclePurchased| date:"dd LLLL yyyy"}}</mat-card-title>
    <br><br>
    <div fxFlex=50% fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20%" fxLayoutGap.lt-md="0px" class="form" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px" class="col">





            <mat-card-title fxLayoutAlign="center center">insurance Number: {{insuranceNo}}

                <span>
                        <i class="material-icons iconCapacity"  (click)="update()"  >
                            create
                        </i>
                  </span>


            </mat-card-title>
            <mat-card-title fxLayoutAlign="center center">last Service Date: {{lastServiceDate| date:"dd LLLL yyyy"}}</mat-card-title>
            <mat-card-title fxLayoutAlign="center center">Vehicle Purchase Date: {{vehiclePurchased| date:"dd LLLL yyyy"}}</mat-card-title>
            <mat-card-title fxLayoutAlign="center center">name: {{name}}</mat-card-title>
            <mat-card-title fxLayoutAlign="center center">category: {{category}}</mat-card-title>
            <mat-card-title fxLayoutAlign="center center">costkm: {{costkm}}</mat-card-title>
            <mat-card-title fxLayoutAlign="center center">cost-Time: {{costtime}}</mat-card-title>

        </div>

    </div>

</mat-card>
