<div fxLayout.gt-sm="row" fxLayout.sm="column" fxLayoutGap="10%"> 
    <div fxLayout="column" fxLayout.sm="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px">
      <h1 fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="15px" class="vehicleName">
            {{registrationNo}}

        </h1>
    </div>

    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">
        <mat-form-field appearance="outline" fxFlex class="status">
            <mat-label>Vehicle Status</mat-label>
            <mat-select [(ngModel)]="status1" (ngModelChange)="onChange($event)">
                <mat-option *ngFor="let z of vehicleStatus" [value]="z.value">
                    {{z.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div fxLayout="column">
<mat-card class="vehicle" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxLayout="column" fxLayoutGap="20px">
    <mat-card-title fxLayoutAlign="start" class="date">{{vehiclePurchased| date:"dd LLLL yyyy"}}
        <button mat-button class="icon" (click)="update()">
            <mat-icon>
                    create
            </mat-icon>
    </button>
    </mat-card-title>
    <br><br>
    <div fxFlex=50% fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="20%" fxLayoutGap.lt-md="0px"
    class="form" fxLayoutAlign="center center">    
<div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px" class="col">
         <mat-card-title fxLayoutAlign="center center">Insurance No: {{insuranceNo}}

                <!-- <span>
                        <i class="material-icons iconCapacity"  (click)="update()"  >
                            create
                        </i>
                  </span> -->


            </mat-card-title>
            <mat-card-title fxLayoutAlign="center center">Last Service Date: {{lastServiceDate| date:"dd LLLL yyyy"}}</mat-card-title>
            <mat-card-title fxLayoutAlign="center center">Name: {{name}}</mat-card-title>
</div>
<div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px" class="col">
 
            <mat-card-title fxLayoutAlign="center center">Cost-KM: {{costkm}}</mat-card-title>
            <mat-card-title fxLayoutAlign="center center">Cost-Time: {{costtime}}</mat-card-title>
            <mat-card-title fxLayoutAlign="center center">Chassis No: {{chassisNumber}}</mat-card-title>


        </div>

    </div>

</mat-card>
</div>
