<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10%" fxLayoutGap.lt-md="0px">
    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px">
        <h1 fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="15px" class="vehicleName">
            {{name}}

        </h1>
    </div>



    <!--  -->

    <mat-card class="my-card" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxLayout="column" fxLayoutGap="20px">
        <mat-card-title fxLayoutAlign="start">{{category}}</mat-card-title>
        <br><br>
        <div fxFlex=50% fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20%" fxLayoutGap.lt-md="0px" class="form" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutGap.lt-md="0px" class="col">
                <mat-card-title fxLayoutAlign="center center">Vehicle cc: {{cc}}</mat-card-title>
                <mat-card-title fxLayoutAlign="center center">Cost/km: {{costkm}}</mat-card-title>
                <mat-card-title fxLayoutAlign="center center">cost/min: {{costtime}}
                    <span>
                    <i class="material-icons iconCapacity" (click)="update()" >
                        create
                    </i>
                </span>

                </mat-card-title>
                <mat-card-title fxLayoutAlign="center center">kilometers/lt: {{kilometer}}</mat-card-title>

            </div>

        </div>

    </mat-card>
