.vehicleName {
    margin-left: 240px;
    padding-bottom: 2%;
}

.graph {
    margin-top: 20px;
    padding-left: 850px;
    cursor: pointer;
}

.type {
    margin-bottom: 40px;
    margin-left: 450px;
    height: 300px;
    width: 50%;
}

.space-top {
    padding-top: 10%;
    padding-bottom: 12%;
}


.iconCapacity {
    
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .type {
        margin-left: 30px;
        height: 300px;
        width: 85%;
    }
    .vehicleName {
        margin-left: 50px;
        font-size: 1.5em;
        padding-bottom: 5px;
    }
}

.add-button {
    padding-right: 450px;
    padding-bottom: 2%;
}

mat-icon {
    font-size: 60px;
}

.icon {
    margin-left: 80%;
    cursor: pointer;
}

.status {
    margin-top: 20px;
}