
app-campaign-card {
    
    width: 25%;
    margin-bottom: 20px;
    
    
}

.paginator ::ng-deep .ngx-pagination .current {
    background: #344955;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
    }

@media only screen and (max-width: 600px) {
   
    app-campaign-card {
        width: 75%;
    }
    
}
