<div fxLayout="column">
    <h1 class="header">
        Settings
    </h1>
</div>

<form class="settings-form">
    <!-- <mat-form-field>
        <input matInput [(ngModel)]="data.autocancelTimeValue" 
        #autocancelTimeValue="ngModel" 
        name="autocancelTimeValue" 
        type="text" 
        required placeholder="Autocancel Time">
    </mat-form-field> -->

    <!-- <mat-form-field class="settings-full-width">
        <input matInput placeholder="Cancel Threshold Time">
    </mat-form-field> -->
</form>