<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
</button>
</mat-toolbar>

<form fxLayout="column" fxLayoutAlign="center center" [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">

    <div fxFlex=50% fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="form" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="col">

            <mat-form-field appearance="outline" fxFlex>
                <mat-label class="font-style">Insurance No.</mat-label>
                <input minlength="6" maxlength="10"  matInput #input placeholder="Insurance No." formControlName="insuranceNo" [(ngModel)]="insuranceNo" 
                class="font-style" required autocomplete="off">
                <mat-hint class="font-style">
                    Insurence No. is between 6-10 characters long
                </mat-hint>
                <mat-error *ngIf="RinsuranceNo.invalid" class="font-style">
                    {{getErrorInsuranceNo()}}
                </mat-error>
            </mat-form-field>
            

        </div>
    </div>


    <div fxFlex=50% fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="form" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="col">
            
            <mat-form-field>
                <input matInput [matDatepicker]="lastServiceDate" formControlName="lastServiceDate" [max]="todaydate" [min]="minDate" placeholder="Vehicle Last Service  Date" #input
                class="font-style" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="lastServiceDate"></mat-datepicker-toggle>
                <mat-datepicker #lastServiceDate></mat-datepicker>
            </mat-form-field>

        </div>
    </div>



    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <button mat-raised-button class="btn font-style" [disabled]='!vehicleForm.valid' color="primary">
                        Submit
                    </button>

    </div>
</form>
